#root {
    text-align: center;
}

.main {
    height: 700px;
    width: 100%;

    position: relative;
    top: -50px;

    padding-top: 20px;

    background-color: var(--color-yellow-1);

    .content {
        text-align: left;

        margin-top: 220px;
        margin-left: 100px;

        .text {
            margin-bottom: 20px;

            a{
                color: var(--color-black);
                text-decoration: none;
            }
        }

        .desc {
            margin-bottom: 40px;
        }

        .buttons {

            display: flex;

            .btn-yandex {
                margin-left: 20px;

                background-color: var(--color-white);

                box-sizing: border-box;
                border-radius: 12px;
                border: 1px solid var(--color-white);

                width: 51px;
                height: 51px;

                display: flex;
                align-items: center;
                justify-content: center;

                .image {
                    width: 31px;
                    height: 31px;
                }

                transition: all .3s;
                cursor: pointer;
            }

            .btn-yandex:hover {
                border: 1px solid var(--color-black);
            }

            .btn-yandex:active {
                background-color: var(--color-yellow-2);
            }
        }
    }

}

.btn-box {
    background-color: var(--color-white);

    cursor: pointer;

    width: 195px;
    height: 51px;

    box-sizing: border-box;
    border-radius: 100px;
    border: 1px solid var(--color-white);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .3s;
}

.btn-box:hover {
    border: 1px solid var(--color-black);
}

.btn-box:active {
    background-color: var(--color-yellow-2);
}

.container-page {
    width: 1280px;

    margin: 0 auto;
    padding: 0 55px;

    text-align: center;
    box-sizing: border-box;
}

.header {

    background-color: var(--color-white);

    padding: 10px 28px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 100px;
    border: 1px solid var(--color-black);

    .logo {
        cursor: pointer;

        display: flex;
        align-items: center;

        .image {
            width: 27px;
            height: 27px;

            margin-right: 4px;
        }

        .text {
            font-weight: 500;
            color: black;
            font-size: 16px;
        }
    }

    .buttons {
        display: flex;

        .button {
            a{
                color: var(--color-black);
                text-decoration: none;
            }
            cursor: pointer;

            color: black;

            margin: 0 15px;

            transition: all .3s;
        }

        .button:hover {
            text-decoration: underline;
        }
    }

    .special-btn {

        a{
            color: var(--color-black);
            text-decoration: none;
        }

        cursor: pointer;

        color: var(--color-black);

        transition: all .3s;
    }

    .special-btn:hover {
        text-decoration: underline;
    }
}

.mobile-header {
    display: block;

    position: sticky;
    z-index: 10000;
    top: 20px;

    padding: 0 20px;

    .burger {

        position: relative;
        z-index: 100;

        margin-left: 20px;
        /*padding: 10px;*/
        background-color: var(--color-white);

        border-radius: 12px;
        border: 1px solid var(--color-black);

        cursor: pointer;
    }

    .nav {
        padding: 20px;

        background-color: white;
        transform: translateX(100%);

        position: fixed;
        top: 0;
        right: 0;

        height: 100vh;
        width: 300px;

        transition: all 0.3s ease-in-out;

        .logo {
            margin-bottom: 20px;
            display: flex;
            align-items: center;

            .image {
                width: 27px;
                height: 27px;

                margin-right: 4px;
            }
        }

        .desc {
            text-align: left;

            .text {
                cursor: pointer;

                color: var(--color-black);
                margin-bottom: 10px;
            }
        }

        .content {
            margin-top: 0;
            display: flex;
            flex-direction: column;

            text-align: right;

            position: relative;
            top: -53px;

            .text {

                a{
                    color: var(--color-black);
                    text-decoration: none;
                }
                cursor: pointer;
                margin-bottom: 30px;

                transition: all .3s;
            }

            .text:hover {
                text-decoration: underline;
            }
        }

    }

    /*.nav::after {*/
    /*    content: '';*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    background-color: rgba(0, 0, 0, 0.5); !* Полупрозрачный черный цвет *!*/
    /*    z-index: -1; !* Под фоновым цветом header *!*/
    /*}*/

    .nav.active {
        box-shadow: 1px 1px 600px var(--color-black);

        transform: translateX(0);
    }

}

.container-page {
    .title {
        text-align: left;
        color: var(--color-black);

        margin-bottom: 40px;
    }
}

.description {
    margin-top: 120px;

    .content {

        .items {
            display: flex;
            flex-wrap: wrap;

            gap: 30px;

            .item {

                box-sizing: border-box;
                display: flex;

                background-color: var(--color-yellow-1);
                border-radius: 20px;

                padding: 40px;

                overflow: hidden;

                .text {
                    text-align: left;
                }
            }
        }
    }
}

.choice {
    margin-top: 120px;

    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .box {
            display: flex;
            flex-direction: row;
            gap: 20px;

            .block {
                padding: 20px;

                background-color: var(--color-yellow-1);

                border-radius: 20px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                width: calc(50% - 10px);
                aspect-ratio: 1;

                .size {
                    text-align: left;
                }

                .block-dimensions {
                    display: flex;
                    justify-content: space-between;
                }

                .block-size, .block-labels {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;

                    span {
                        margin-top: 3px;
                    }
                }

                .block-labels {
                    text-align: right;
                }

                .block-size {
                    text-align: left;
                }
            }

            .text {
                width: calc(50% - 10px);
                height: auto;

                display: flex;
                flex-direction: column;

                justify-content: space-between;

                .desc {
                    display: flex;
                    flex-direction: column;

                    gap: 10px;
                    align-items: flex-start;
                }

                .button {
                    padding: 18px 12px;

                    border-radius: 100px;
                    border: 1px solid var(--color-black);

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    cursor: pointer;

                    transition: all .3s;
                }

                .button:active {
                    background-color: var(--color-yellow-1);
                }

            }
        }
    }
}

.modal-wrapper {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(107, 114, 128, 0.5);
    z-index: 9;
    width: 100%;
    min-height: 100vh;

    .modal {

        z-index: 100;

        position: relative;

        background-color: #fff;

        box-sizing: border-box;

        width: 320px;
        height: auto;

        border-radius: 30px;

        overflow: hidden;

        padding: 30px;

        .title {
            text-align: center;

            margin-bottom: 30px;
        }

        .desc {
            color: var(--color-black);

            margin-top: 10px;
            margin-bottom: 20px;

            font-size: 14px;
            font-weight: normal;

            span {
                font-weight: bold;
            }
        }
    }

    .modal .footer {
        background-color: var(--color-yellow-1);

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 100px;

        transition: all .3s;

        padding: 16px 0;
        width: 100%;

        cursor: pointer;
    }

    .modal .footer:hover {
        background-color: var(--color-yellow-2);
    }

    .modal button {
        border-radius: 0.375rem;
        border-style: none;
        background: rgb(220, 38, 38);
        padding: 10px;
        color: #fff;
        line-height: 1.25rem;
        cursor: pointer;
    }

    .modal .body {

        .input {
            /*height: 51px;*/
            width: 100%;

            margin-bottom: 10px;

            border: 1px solid var(--color-gray-1);
            border-radius: 16px;

            box-sizing: border-box;

            padding: 16px 20px;
        }

        .input.error {
            border: 1px solid red;
        }

        .input::placeholder {
            color: var(--color-gray-1);
        }

        .input:active {
            border: 1px solid var(--color-gray-1);
            outline: none;
        }

        .input:focus {
            border: 1px solid var(--color-black);
            outline: none;
        }

    }

    .success {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.modal-wrapper-s {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(107, 114, 128, 0.5);
    z-index: 9;
    width: 100%;
    min-height: 100vh;

    .modal-s {
        z-index: 100;

        position: relative;

        background-color: #fff;

        box-sizing: border-box;

        width: 320px;
        height: 320px;

        border-radius: 30px;

        overflow: hidden;

        padding: 30px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .title {
            text-align: center;
        }

        .footer {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 16px 26px;

            border-radius: 100px;
            border: 1px solid var(--color-black);

            cursor: pointer;

            transition: all .3s;
        }

        .footer:active {
            background-color: var(--color-yellow-1);
        }
    }
}

.stay {
    margin-top: 120px;

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .item {
            position: relative;
            width: 100%;
        }
    }
}

.slider {
    margin-top: 120px;

    .mobile {
        display: block;
    }

    .pc {
        display: none;
    }

    .mobile {
        .content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            .block {
                position: relative;
                width: 100%;

                .image {
                    width: 100%;
                }

                .text {
                    margin-top: 10px;
                    text-align: left;
                }
            }
        }
    }

    .pc {
        .slider-container {
            .block {
                display: flex !important;
                align-items: center;
                flex-direction: column;

                .image {
                    width: 216px;
                }

                .text {
                    margin-top: 10px;
                    width: 216px;
                    text-align: left;
                }
            }

            .slick-prev:before, .slick-next:before {
                content: none;
            }
        }
    }
}

.reviews {
    margin-top: 120px;

    .content {
        display: flex;
        flex-direction: column;

        gap: 20px;

        .block {
            box-sizing: border-box;
            padding: 30px;

            text-align: left;

            color: var(--color-black);
            background-color: var(--color-yellow-3);

            border-radius: 20px;

            .name {
                margin-bottom: 10px;
            }
        }
    }
}

.qa {
    margin-top: 120px;

    .title {
        text-align: left;
        margin-right: 98px;
    }

    .container {
        max-width: 650px;
        width: 100%;
    }

    .wrapper {
        overflow: hidden;

        margin-bottom: 20px;

        border-radius: 20px;
        border: 1px solid var(--color-yellow-3);
        background: var(--color-yellow-3);

        transition: all .3s ease-in-out;

        cursor: pointer;
    }

    .wrapper:hover {
        border: 1px solid var(--color-black);
    }

    .wrapper .question-container {

        background: none;

        box-sizing: border-box;

        width: 100%;
        text-align: left;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        cursor: pointer;

        border-radius: 20px;
    }

    .wrapper.active {
        background: var(--color-yellow-1);

        border-radius: 20px;
        border: 1px solid black;
    }

    .wrapper .arrow {
        width: 40px;
        height: 40px;

        margin-left: 5px;

        transition: .4s ease-in-out;
    }

    .arrow.active {
        rotate: 180deg;
        color: #1db954;
    }

    .wrapper .answer-container {
        transition: height .4s ease-in-out;
    }

    .wrapper .answer-content {
        padding: 0 30px 40px 30px;

        text-align: left;
    }

}

.question {
    margin-top: 120px;

    display: block;

    .cart {
        display: none;
    }

    .content {
        border-radius: 30px;
        border: 1px solid var(--color-gray-1);

        padding: 30px;

        .body {

            box-sizing: border-box;

            .input {
                /*height: 51px;*/
                width: 100%;

                margin-bottom: 10px;

                border: 1px solid var(--color-gray-1);
                border-radius: 16px;

                box-sizing: border-box;

                padding: 16px 20px;
            }

            .input.error {
                border: 1px solid red;
            }

            .input::placeholder {
                color: var(--color-gray-1);
            }

            .input:active {
                border: 1px solid var(--color-gray-1);
                outline: none;
            }

            .input:focus {
                border: 1px solid var(--color-black);
                outline: none;
            }

            textarea {
                height: 125px;
            }

        }

        .desc {
            color: var(--color-black);

            margin-top: 10px;
            margin-bottom: 20px;

            text-align: left;

            font-size: 14px;
            font-weight: normal;

            span {
                font-weight: bold;
            }
        }

        .button {
            background-color: var(--color-yellow-1);

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 100px;

            transition: all .3s;

            padding: 16px 0;
            width: 100%;

            cursor: pointer;
        }

        .button:hover {
            background-color: var(--color-yellow-2);
        }
    }
}

.footer {
    margin-top: 80px;

    .content {
        display: flex;
        flex-direction: column;

        background-color: var(--color-yellow-1);

        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

        padding: 40px 30px 30px;

        .title {
            margin-bottom: 50px;

            .logo {
                margin-bottom: 30px;

                cursor: pointer;
                display: flex;

                .icon {
                    width: 57px;
                    height: 57px;
                }

                .text {

                    font-size: 48px;
                    color: var(--color-black);
                    font-weight: 500;

                    margin-left: 8px;
                }
            }

            .button {
                background-color: var(--color-white);

                border-radius: 100px;

                padding: 16px 28px;
                width: max-content;

                display: flex;
                align-items: flex-start;
                justify-content: center;

                cursor: pointer;
            }
        }

        .body {
            margin-bottom: 50px;

            display: flex;
            flex-direction: column;

            gap: 40px;

            .desc {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                gap: 20px;
            }

            .text {
                display: flex;
                flex-direction: column;

                gap: 30px;

                .item {
                    display: flex;
                    flex-direction: column;

                    gap: 10px;

                    text-align: left;
                }
            }

        }

        .reference {
            display: flex;
            flex-direction: column;

            gap: 40px;

            text-align: left;

            .text {
                display: flex;
                flex-direction: column;

                gap: 30px;

                .item {
                    transition: all .3s;
                }

                .item:hover {
                    text-decoration: underline;
                }
            }

            .copyright {
                color: var(--color-gray-2);
            }
        }
    }
}

@media (min-width: 359px) {
    .container-page {
        max-width: 479px;
        width: auto;

        padding: 0 20px;

        .title {
            font-size: 32px !important;
        }
    }

    .main {
        height: 600px;

        .content {
            text-align: center;
            margin-left: 0px;

            .buttons {
                align-items: center;
                justify-content: center;
            }
        }
    }

    .header {
        width: 100%;

        .buttons {
            display: none;
        }
    }

    .mobile-header {
        display: flex;
        justify-content: space-between;

        .burger {
            display: block;
        }
    }

    .description {
        margin-top: 0px;

        .content {
            .items {
                flex-direction: column;
            }

            .item {
                width: auto;

                align-items: flex-start;
            }

            .item:nth-of-type(1) {
                max-height: 270px;
                flex-direction: column;

                width: auto;

                .image {
                    margin-top: -3vh;
                    height: auto;
                    width: 42vw;

                    position: relative;
                    left: 140px;
                }
            }

            .item:nth-of-type(2) {
                height: 270px;

                max-height: 270px;
                flex-direction: column;

                .text {
                    margin-bottom: 20px;
                }

                .image {
                    height: auto;
                    width: 160px;

                    position: relative;
                    left: 150px;
                    top: 0;
                }
            }

            .item:nth-of-type(3) {
                height: 270px;

                max-height: 270px;
                flex-direction: column-reverse;

                .text {
                    /*margin-right: 10vw;*/
                }

                .image {
                    height: auto;
                    width: 175px;

                    position: relative;
                    left: 135px;
                }
            }

            .item:nth-of-type(4) {
                height: 270px;

                max-height: 270px;
                flex-direction: column-reverse;

                .image {
                    height: 178px;
                    width: 230px;

                    position: relative;
                    left: 140px;
                }

                .text {
                    /*margin-right: 50px;*/
                }
            }
        }
    }

    .cart-max {

        margin-top: 120px;
        display: block;
    }

    .slider {
        .mobile {
            display: block;
        }
    }
}

@media (min-width: 429px) {
    .description {
        .content {

            .item:nth-of-type(3) {
                .image {
                    top: -15px;
                }
            }
        }
    }
}

@media (min-width: 480px) {
    .container-page {
        max-width: 766px;

        .title {
            font-size: 48px !important;
        }

    }

    .main {
        height: 700px;

        .content {
            text-align: center;
            margin-left: 0px;

            .buttons {
                align-items: center;
                justify-content: center;
            }

            .text{
                font-size: 46px!important;
            }
        }
    }

    .header {
        justify-content: space-between;

        .buttons {
            display: none;
        }
    }

    .mobile-header {
        display: flex;
        justify-content: space-between;

        .burger {
            display: block;
        }
    }

    .description {
        margin-top: 40px;

        .content {

            .item {
                padding: 40px;
            }

            .item:nth-of-type(1) {
                .image {
                    margin-top: -4vh;
                    height: auto;
                    width: 42vw;

                    position: relative;
                    left: 140px;
                }
            }

            .item:nth-of-type(2) {
                height: 270px;

                max-height: 270px;
                flex-direction: column;

                .text {
                    margin-right: 150px;
                    margin-bottom: 20px;
                }

                .image {
                    height: auto;
                    width: 147px;

                    position: relative;
                    left: 200px;
                    top: 0;
                }
            }

            .item:nth-of-type(3) {
                height: 270px;

                max-height: 270px;
                flex-direction: column-reverse;

                .image {
                    height: auto;
                    width: 175px;

                    position: relative;
                    left: 200px;
                    top: 5px;
                }

                .text {
                    margin-right: 20vw;
                }
            }

            .item:nth-of-type(4) {
                height: 270px;

                max-height: 270px;
                flex-direction: column-reverse;

                .image {
                    height: 178px;
                    width: 268px;

                    position: relative;
                    left: 150px;
                }

                .text {
                    margin-right: 70px;
                }
            }
        }
    }

    .choice {
        .box {
            .block {
                padding: 30px;

                .size {
                    font-size: 48px !important;
                }

                .block-dimensions {
                    font-size: 16px !important;
                }
            }

            .text {
                .desc {
                    font-size: 24px !important;
                }

                .button {
                    font-size: 16px !important;
                }
            }
        }
    }

    .question {
        .content {
            .button {
                margin-right: 170px;
                width: auto;
            }
        }
    }

    .footer {
        .content {
            padding: 40px;

            .reference {
                flex-direction: row;
                gap: 0;
                align-items: flex-end;
                justify-content: space-between;
            }
        }
    }

    .slider {
        .content {
            .block {
                .text {
                    font-size: 16px !important;
                }
            }
        }
    }

}

@media (min-width: 580px) {
    .description {
        .content {

            .item:nth-of-type(1) {
                .image {
                    position: relative;
                    left: 250px;
                }
            }

            .item:nth-of-type(2) {
                .image {
                    width: 170px;
                    position: relative;
                    left: 300px;
                    top: 0;
                }
            }

            .item:nth-of-type(3) {
                .text {
                    margin-right: 30vw;
                }

                .image {
                    left: 300px;
                    top: -20px;
                }
            }

            .item:nth-of-type(4) {
                height: 270px;

                max-height: 270px;
                flex-direction: column-reverse;

                .image {
                    height: 178px;
                    width: 268px;

                    position: relative;
                    left: 228px;
                }

                .text {
                    /*margin-right: 50px;*/
                }
            }
        }
    }
}

@media (min-width: 767px) {
    .container-page {
        max-width: 768px;

        padding: 0 30px;
    }

    .mobile-header {
        box-sizing: border-box;
        max-width: 768px;
        padding: 0 30px;

        margin: 0 auto;
    }

    .main {
        .content {
            text-align: left;
            margin-left: 36px;

            .buttons {
                justify-content: flex-start;
            }
        }
    }

    .header {
        width: auto;

        .buttons {
            display: flex;
        }
    }

    .mobile-header {
        display: block;

        .burger {
            display: none;
        }

        .nav {
            display: none;
        }
    }

    .description {
        .content {

            .items {
                flex-direction: row;
            }

            .item {
                width: calc(50% - 15px);

                align-items: flex-start;
            }

            .item:nth-of-type(1) {

                width: calc(50% - 15px);

                max-height: 270px;
                flex-direction: column;

                .image {
                    height: auto;
                    width: 182px;

                    position: relative;
                    left: 108px;
                }

                .text {
                    margin-right: -30px;
                }

            }

            .item:nth-of-type(2) {
                width: calc(50% - 15px);
                height: 270px;

                max-height: 270px;
                flex-direction: column;

                .text {
                    margin-right: 20px;
                }

                .image {
                    height: auto;
                    width: 147px;

                    position: relative;
                    top: 15px;
                    left: 95px;
                }
            }

            .item:nth-of-type(3) {
                height: 270px;

                max-height: 270px;
                flex-direction: column-reverse;

                .image {
                    height: auto;
                    width: 175px;

                    position: relative;
                    left: 90px;
                }
            }

            .item:nth-of-type(4) {
                height: 270px;

                max-height: 270px;
                flex-direction: column-reverse;

                .image {
                    height: 178px;
                    width: 268px;

                    position: relative;
                    left: 31px;
                    top: 48px;
                }

                .text {
                    margin-right: 50px;
                }
            }
        }
    }

    .choice {
        .content {
            gap: 30px;

            flex-direction: row;
            justify-content: space-between;

            .box {
                width: 100%;
                flex-direction: column;

                gap: 30px;

                .block {
                    padding: 40px;
                    width: auto;
                }

                .text {
                    width: auto;

                    .desc {
                        div:nth-of-type(1) {
                            margin-bottom: 10px;
                        }
                    }

                    .button {
                        box-sizing: border-box;
                        margin-top: 20px;
                        margin-right: 30px;

                        padding: 16px 28px;
                    }
                }
            }
        }
    }

    .modal-wrapper {
        .modal {
            width: 600px;

            padding: 50px;

            .desc {
                margin-top: 20px;

                margin-bottom: 30px;

                font-size: 16px;
            }
        }
    }

    .reviews {
        .content {
            gap: 30px;
            flex-direction: row;
            flex-wrap: wrap;

            .block:nth-of-type(1) {
                width: calc(50% - 15px);
            }

            .block:nth-of-type(2) {
                width: calc(50% - 15px);
            }

            .block:nth-of-type(3) {
                width: calc(50% - 15px);
            }

            .block:nth-of-type(4) {
                width: calc(50% - 15px);
            }

            .block:nth-of-type(5) {
                width: 100%;
            }
        }
    }

    .question {
        .content {

            margin: 0 60px;

            padding: 50px;

            .title {
                text-align: center;
            }

            .body {
                textarea {
                    height: 125px;
                }
            }

            .button {
                text-align: left;
                margin-right: 0;
                width: 188px;
            }
        }
    }

    .footer {
        .content {
            padding: 50px;
            flex-direction: row;
            justify-content: space-between;

            .body {
                .desc {
                    align-items: flex-end;
                }

                .text {
                    align-items: flex-end;

                    .item {
                        align-items: flex-end;
                    }
                }
            }

            .reference {
                flex-direction: row-reverse;

                .text {
                    align-items: flex-end;
                }

                .copyright {
                    position: relative;
                    right: 283px;
                }
            }
        }
    }

    .stay {

        .content {
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }
    }

    .slider {
        .mobile {
            display: none;
        }

        .pc {
            display: block;
        }
    }

}

@media (min-width: 959px) {
    .main {
        .content {
            text-align: left;
            margin-left: 53px;
        }
    }

    .container-page {
        max-width: 960px;
    }

    .mobile-header {
        max-width: 960px;
    }

    .header {
        .buttons {
            display: flex;
        }
    }

    .mobile-header {
        display: block;

        .burger {
            display: none;
        }

        .nav {
            display: none;
        }
    }

    .description {
        .content {
            .item {
                width: calc(50% - 15px);

                align-items: flex-end;

                flex-direction: row;
            }

            .item:nth-of-type(1) {

                flex-direction: row;

                .image {
                    height: auto;
                    width: 195px;

                    position: relative;
                    left: 0;
                    top: 85px;

                }

                .text {
                    margin-right: 30px;
                }

            }

            .item:nth-of-type(2) {
                height: 270px;

                flex-direction: row;

                .text {
                    margin-right: 20px;
                    margin-bottom: 0;
                }

                .image {
                    height: auto;
                    width: 147px;

                    position: relative;
                    top: 110px;
                    left: 0;
                }
            }

            .item:nth-of-type(3) {
                height: 270px;

                flex-direction: row;

                .image {
                    height: auto;
                    width: 192px;

                    position: relative;
                    top: -95px;
                    right: 0;
                    left: -20px;
                }

                .text {
                    margin-right: 0;
                }
            }

            .item:nth-of-type(4) {
                height: 270px;

                flex-direction: row;

                .image {
                    height: 239px;
                    width: 358px;

                    position: relative;
                    left: -104px;
                    top: 0;
                }
            }
        }
    }

    .choice {
        .content {
            .box {
                .text {
                    .button {
                        margin-right: 80px;
                    }
                }

                .block {
                    .block-dimensions {
                        font-size: 24px !important;
                    }
                }
            }
        }
    }

    .reviews {
        .content {

            .block:nth-of-type(1) {
                width: calc(33% - 15px);
            }

            .block:nth-of-type(2) {
                width: calc(32% - 15px);
            }

            .block:nth-of-type(3) {
                width: calc(33% - 12px);
            }

            .block:nth-of-type(4) {
                width: calc(50% - 15px);
            }

            .block:nth-of-type(5) {
                width: calc(50% - 15px);
            }
        }
    }

    .question {
        .content {

            margin: 0 155px;
        }
    }

    .footer {
        .content {
            .pc {
                display: flex;
                flex-direction: row-reverse;
            }

            .body {
                margin-bottom: 0;
                gap: 104px;

                .text {
                    .item {
                        text-align: right;
                    }
                }
            }

            .reference {
                position: relative;
                right: 117px;

                .text {

                    .item {
                        width: 100%;
                        text-align: left;

                        text-wrap: nowrap;
                    }
                }

                .copyright {
                    right: 113px;
                    text-wrap: nowrap;
                }
            }
        }
    }

    .slider {

        .pc {
            .slider-container {
                .block {

                    .image {
                        width: 202px;
                    }

                    .text {
                        margin-top: 10px;
                        width: 202px;
                        text-align: left;
                    }
                }

                .slick-prev {
                    left: 390px !important;
                }

                .slick-next {
                    right: 390px !important;
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    .container-page {
        max-width: 1280px;
        padding: 0 55px;
    }

    .mobile-header {
        max-width: 1280px;
        padding: 0 55px;
    }

    .mobile-header {
        display: block;

        .burger {
            display: none;
        }

        .nav {
            display: none;
        }
    }

    .description {
        .content {
            .item:nth-of-type(1) {
                width: 470px;
                height: 270px;

                .image {
                    height: auto;
                    width: 260px;

                    position: relative;
                    top: 180px;

                }

            }

            .item:nth-of-type(2) {
                width: 670px;
                height: 270px;

                .text {
                    margin-right: 75px;
                }

                .image {
                    height: auto;
                    width: 235px;

                    position: relative;
                    top: 322px;
                }
            }

            .item:nth-of-type(3) {
                width: 670px;
                height: 270px;

                .image {
                    height: auto;
                    width: 293px;

                    position: relative;
                    top: -40px;
                }
            }

            .item:nth-of-type(4) {
                width: 470px;
                height: 270px;

                .image {
                    height: 240px;
                    width: 361px;

                    position: relative;
                    left: -71px;
                    top: 40px;
                }
            }
        }
    }

    .choice {
        .content {
            .box {
                .block {
                    .size {
                        font-size: 96px !important;
                    }
                }

                .text {
                    .button {
                        margin-right: 150px;
                    }
                }
            }
        }
    }

    .question {
        box-sizing: border-box;

        display: flex;
        gap: 30px;

        .content {
            box-sizing: border-box;
            width: 570px;
            height: 590px;

            margin: 0;

        }

        .cart {
            box-sizing: border-box;
            display: block;
            width: calc(50% - 15px);
            height: 590px;
            border-radius: 30px;

            overflow: hidden;

            border: 1px solid var(--color-gray-1);
        }
    }

    .cart-max {
        display: none;
    }

    .footer {
        .content {
            .body {
                gap: 80px;
            }

            .reference {
                position: relative;
                right: 232px;

                .copyright {
                    right: 216px;
                }
            }
        }
    }

    .slider {

        .pc {
            .slider-container {
                .block {

                    .image {
                        width: 170px;
                    }

                    .text {
                        margin-top: 10px;
                        width: 170px;
                        text-align: left;
                    }
                }

                .slick-prev {
                    left: 530px !important;
                }

                .slick-next {
                    right: 530px !important;
                }
            }
        }
    }

    .reviews {
        .content {
            .block:nth-of-type(3) {
                width: calc(33% - 7px);
            }
        }
    }
}